* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#parent{
    height: 400px;
    width: 400px;
    border: solid black 2px;
    display: flex;
    
}
.child{
    background-color: red;
    width: 200px;
    border: 2px solid black;
}

#div1{
    height: 200px;
    width: 200px;
    flex-grow: 3;
    
}
#div2{
    height: 200px;
    width: 200px;
    flex-grow: 1;
    
}

