.helloworld{
    color: #3B110E;
    font-size: 40px;
}

#gamarjoba1{
    color: rgb(100, 250, 100), 

}
#gaamarjoba2{
    color: rgb(250, 200, 200);

}

#gamaarjoba3{
    color: rgb(red, green, blue);

}
#gamarjoba4{
    color: rgb(250, 250, 150),

}

#gamjarjoba5{
    color: rgb(250, 150, 100);

}

#hello1{
    color: #110E3B;

}
#hello2{
    color: #E8153A;

}
#hello3{
    color: #8A6B72;

}
#hello4{
    color: #D67809;

}
#hello5{
    color: #09CFD6;

}