#p1{
text-decoration: overline;
}
#p2{
    text-transform: uppercase;
}
#p3{
    text-shadow: red;
    text-shadow: 2px 3px 5px;
    color: black;
}
.satauri{
        text-decoration: double;
        text-transform: lowercase;
        text-shadow: 5px;
}
.gamarjoba{
    @import url('https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}